:root {
  --black: #000;
  --near-black: #111;
  --dark-gray: #333;
  --mid-gray: #555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

  --transparent: transparent;

  --black-9: rgba(0, 0, 0, 0.9);
  --black-8: rgba(0, 0, 0, 0.8);
  --black-7: rgba(0, 0, 0, 0.7);
  --black-6: rgba(0, 0, 0, 0.6);
  --black-5: rgba(0, 0, 0, 0.5);
  --black-4: rgba(0, 0, 0, 0.4);
  --black-3: rgba(0, 0, 0, 0.3);
  --black-2: rgba(0, 0, 0, 0.2);
  --black-1: rgba(0, 0, 0, 0.1);
  --black-05: rgba(0, 0, 0, 0.05);
  --black-025: rgba(0, 0, 0, 0.025);
  --black-0125: rgba(0, 0, 0, 0.0125);

  --white-9: rgba(255, 255, 255, 0.9);
  --white-8: rgba(255, 255, 255, 0.8);
  --white-7: rgba(255, 255, 255, 0.7);
  --white-6: rgba(255, 255, 255, 0.6);
  --white-5: rgba(255, 255, 255, 0.5);
  --white-4: rgba(255, 255, 255, 0.4);
  --white-3: rgba(255, 255, 255, 0.3);
  --white-2: rgba(255, 255, 255, 0.2);
  --white-1: rgba(255, 255, 255, 0.1);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-025: rgba(255, 255, 255, 0.025);
  --white-0125: rgba(255, 255, 255, 0.0125);

  --dark-red: #e7040f;
  --red: #ff4136;
  --light-red: #ff725c;
  --orange: #ff6300;
  --gold: #ffb700;
  --yellow: #ffd700;
  --light-yellow: #fbf1a9;
  --purple: #5e2ca5;
  --light-purple: #a463f2;
  --dark-pink: #d5008f;
  --hot-pink: #ff41b4;
  --pink: #ff80cc;
  --light-pink: #ffa3d7;
  --dark-green: #137752;
  --green: #19a974;
  --light-green: #9eebcf;
  --navy: #001b44;
  --dark-blue: #00449e;
  --blue: #357edd;
  --light-blue: #96ccff;
  --lightest-blue: #cdecff;
  --washed-blue: #f6fffe;
  --washed-green: #e8fdf5;
  --washed-yellow: #fffceb;
  --washed-red: #ffdfdf;

  /* @link https://utopia.fyi/generator-mk-ii?c=320,14,1.2,1280,20,1.25,9,2, */

  --f000: clamp(0.6075rem, 0.5433rem + 0.3208vw, 0.8rem);
  --f00: clamp(0.7294rem, 0.6392rem + 0.451vw, 1rem);
  --f0: clamp(0.875rem, 0.75rem + 0.625vw, 1.25rem);
  --f1: clamp(1.05rem, 0.8792rem + 0.8542vw, 1.5625rem);
  --f2: clamp(1.26rem, 1.029rem + 1.1552vw, 1.9531rem);
  --f3: clamp(1.5119rem, 1.2021rem + 1.549vw, 2.4413rem);
  --f4: clamp(1.8144rem, 1.4019rem + 2.0625vw, 3.0519rem);
  --f5: clamp(2.1775rem, 1.6317rem + 2.7292vw, 3.815rem);
  --f6: clamp(2.6125rem, 1.894rem + 3.5927vw, 4.7681rem);
  --f7: clamp(3.135rem, 2.1931rem + 4.7094vw, 5.9606rem);
  --f8: clamp(3.7625rem, 2.5331rem + 6.1469vw, 7.4506rem);
  --f9: clamp(4.515rem, 2.9156rem + 7.9969vw, 9.3131rem);
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica",
    sans-serif;
  color: var(--dark-gray);
  line-height: 1.4;
}

body {
  font-size: var(--f0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--black);
  margin: 0;
}

h1 {
  font-size: var(--f5);
  letter-spacing: -0.03ch;
  line-height: 1;
}

h2 {
  font-size: var(--f4);
  letter-spacing: -0.02ch;
  line-height: 1.1;
}

h3 {
  font-size: var(--f3);
  letter-spacing: -0.02ch;
  line-height: 1.2;
}

h4 {
  font-size: var(--f2);
  letter-spacing: -0.01ch;
  line-height: 1.3;
}

h5 {
  font-size: var(--f1);
  line-height: 1.4;
}

h6 {
  font-weight: 500;
  font-size: var(--f0);
  text-transform: uppercase;
  letter-spacing: 0.02ch;
  line-height: 1.4;
}

p {
  max-width: 60ch;
}

ul,
ol {
  padding-inline-start: var(--f4);
}

a {
  color: var(--dark-blue);
  text-decoration-color: var(--light-blue);
}

input::placeholder {
  color: var(--black-5);
}

.debug {
  outline: gold;
}

.hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.unstyled {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  list-style: none;
  border: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}

/* Tag */

.tag {
  background-color: var(--lightest-blue);
  color: var(--dark-blue);
  padding: 0.1em 0.5em;
  text-decoration: none;
  border-radius: 100vw;
}

.tag[aria-current] {
  background-color: var(--dark-blue);
  color: var(--lightest-blue);
}

/* Stack */

.stack {
  --stack-gap: var(--f0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--stack-gap);
}

/* Text Block */

.stack.text-block > p + h1,
.stack.text-block > p + h2,
.stack.text-block > p + h3,
.stack.text-block > p + h4,
.stack.text-block > p + h5,
.stack.text-block > p + h6 {
  --stack-gap: 1em;
}

/* Grid */

.grid {
  --grid-column-width: 10rem;
  --grid-gap-x: 0;
  --grid-gap-y: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--grid-column-width), 1fr)
  );
  column-gap: var(--grid-gap-x);
  row-gap: var(--grid-gap-y);
}

/* Center */

.center {
  --center-width: 1280px;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--center-width);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cluster */

.cluster {
  --cluster-gap-y: var(--f0);
  --cluster-gap-x: var(--f0);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--cluster-gap-y) / -2) calc(var(--cluster-gap-x) / -2);
}

.cluster > * {
  margin: calc(var(--cluster-gap-y) / 2) calc(var(--cluster-gap-x) / 2);
}

/* Sidebar */

.sidebar-wrapper {
  --sidebar-gap-y: var(--f0);
  --sidebar-gap-x: var(--f0);
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--sidebar-gap-y) / -2) calc(var(--sidebar-gap-x) / -2);
}

.sidebar-wrapper > .sidebar {
  margin: calc(var(--sidebar-gap-y) / 2) calc(var(--sidebar-gap-x) / 2);
  flex-grow: 1;
}

.sidebar-wrapper > :not(.sidebar) {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--sidebar-gap-x));
}

/* Switcher */

.switcher {
  --switcher-gap-x: var(--f0);
  --switcher-gap-y: var(--f0);
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--switcher-gap-y) / -2) calc(var(--switcher-gap-x) / -2);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--s3) - (100% - var(--switcher-gap-x))) * 999);
  margin: calc(var(--switcher-gap-y) / 2) calc(var(--switcher-gap-x) / 2);
}

/* Frame */

.frame {
  --ratio: 9/16;
  height: 0;
  padding-bottom: calc(var(--ratio) * 100%);
  position: relative;
}

.frame > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* header */

.header {
  background: var(--light-green);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

/* search-form */

[is="search-form"] > div {
  max-width: 30rem;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background: var(--washed-green);
  border-radius: 0.5rem;
}

[is="search-form"] svg {
  fill: var(--black);
  width: 1rem;
  height: 1rem;
}

[is="search-form"] search-input {
  flex-grow: 1;
  margin: 0 0.5rem;
}
