<form method="get" action="/search">
  <div role="search">
    <label for="search" aria-label="Search for:">
      Search
    </label>
    <input type="text" value="" name="q" id="search" placeholder="Search for an article">
    <button aria-label="Submit search" type="submit">
      Submit
    </button>
  </div>
</form>
