<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AEMP | {{ title }}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
    />
    <style>
      html {
        font-family: Arial, sans-serif;
        font-size: 18px;
        line-height: 1.4;
      }
      body {
        margin: 0;
      }
      main {
        max-width: 1280px;
        margin: 0 auto;
        padding: 5vw;
      }
      img {
        max-width: 100%;
      }
      img[data-load] {
        display: none;
      }
    </style>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
