---
eleventyExcludeFromCollections: true
layout: 'layouts/none.njk'
permalink: '/{{ locale }}/search-data.json'
---

{"options" : [
{%- for item in collections[locale] -%}
  {
    "url": "{{ item.url }}",
    "title": "{{ item.data.title }}",
    "content": "{{(item.data.title + " " + item.templateContent) | squash}}"
  }
{%- if not loop.last and item.data.locale == locale %},{% else %}{% endif -%}
{%- endfor -%}
]}
