---
eleventyExcludeFromCollections: true
layout: layouts/default.njk
pagination:
  data: collections
  size: 1
  alias: currentTag
permalink: /{{ locale }}/tags/{{ currentTag }}/
---

<h1>{{"posts" | translate | capitalize}}</h1>
<ul class="unstyled grid">
  {%- for tag, _ in collections | dictsort -%}
    <li><a href="/{{locale}}/tags/{{ tag }}" class="tag" {{ "aria-current" if tag == currentTag }}>{{ tag | translate }}</a></li>
  {%- endfor -%}
</ul>
<ol>
  {%- for post in collections[ currentTag ] | reverse -%}
    {%- if post.data.locale == locale -%}
      <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    {%- endif -%}
  {%- endfor -%}
</ol>
<ul>
  {%- for lang in site.languages -%}
    {%- set translatedUrl = "/" + lang.code + page.internationalStem -%}
    {%- set activeClass = "is-active" if lang.code == locale else "" -%}
    <li>
      <a class="{{ activeClass }}" href="{{ translatedUrl }}">{{ lang.label }}</a>
    </li>
  {%- endfor -%}
</ul>
