---
layout: layouts/default.njk
pagination:
  data: collections
  size: 1
  alias: currentTag
permalink: /{{ locale }}/tags/{{ currentTag }}/
---
<ul class="unstyle grid" style="grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));">
  {% for tag, _ in collections %}
    <li><a href="/{{locale}}/tags/{{ tag }}">{{ tag }}</a></li>
  {% endfor %}
</ul>
<ol>
  {% for post in collections[ currentTag ] %}
    {% if post.data.locale == locale %}
      <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    {% endif %}
  {% endfor %}
</ol>
<ul>
  {% for lang in site.languages %}
    {% set translatedUrl = "/" + lang.code + page.internationalStem %}
    {% set activeClass = "is-active" if lang.code == locale else "" %}
    <li>
      <a class="{{ activeClass }}" href="{{ translatedUrl }}">{{ lang.label }}</a>
    </li>
  {% endfor %}
</ul>
